/* main: ../style.scss*/
/********************************
 *********************************
 CONTENT
 *********************************
 *********************************/
.section-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.sub-section-title {
  font-weight: 500;
}

section {
  margin-bottom: 50px;
}


/* File List
========================*/
.file-list {
  ul { list-style: none; }
  a { text-decoration: none; }
}


/* TOC
========================*/
.toc {
  position: relative;
  list-style: none;
  padding: 20px 20px 20px 30px;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 30px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eee;
}


/* Prism Overrides
========================*/
.line-highlight {
  border: 2px solid #c92c2c;
  &::before, &::after { display: none; }
}
