// main: ../style.scss
/********************************
 *********************************
 FOOTER
 *********************************
 *********************************/
.site-footer {
  position: relative;
  background-color: #f5f5f5;
  color: #777;
  padding: 30px 15px;
  font-size: 14px;

  a {
    color: rgba(125,125,125,0.7);
    font-weight: 500;
    transition: .2s ease;
    &:hover { color: #7d7d7d; }
  }
}
