// main: ../style.scss
/********************************
 *********************************
SIDEBAR
 *********************************
 *********************************/
.sidebar {
  margin-top: 40px;

  &.affix {
    top: 0;
    width: 360px;
  }

  .nav > li {
    a {
      color: #444;
      padding-top: 0;
      padding-bottom: 0;
    }

    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover {
      color: #51d2b7;
      background: none;
      transition: all 0.3s ease;
    }

    ul {
      margin-left: 20px;
      font-size: 0.9em;
      display: none;
    }

    &.active > ul {
      display: block;
    }
  }
}
